@if (hasAvailableInstruments$ | async) {
    <h2>Currently available instruments</h2>
} @else {
    <h2>Sorry, there is currently no instrument available</h2>
}

<button (click)="refresh()" [disabled]="setIsFetchingInstruments$ | async" type="button">refresh</button>
<ul>
    @for (instrument of instruments$ | async; track instrument) {
        <li>
            <a [routerLink]="['/', instrument.id]">{{ instrument.name }}</a>
            @if (instrument.description) {
                <p>{{ instrument.description }}</p>
            }
            <anc-sound-cloud-link [soundCloudUsername]="instrument.soundCloudUsername"></anc-sound-cloud-link>
            <anc-gearogs-link [gearogsSlug]="instrument.gearogsSlug"></anc-gearogs-link>
        </li>
    }
</ul>
