<h2 *ngIf="false === (hasAvailableInstruments$ | async)">Sorry, there is currently no instrument available</h2>
<h2 *ngIf="hasAvailableInstruments$ | async">Currently available instruments</h2>
<button (click)="refresh()" [disabled]="setIsFetchingInstruments$ | async">refresh</button>
<ul>
    <li *ngFor="let instrument of instruments$ | async">
        <img alt="icon of {{ instrument.name }}" src="assets/korg-monopoly.jpg">
        <a [routerLink]="[ '/', instrument.id ]">{{ instrument.name }}</a>
        <p *ngIf="instrument.description" >{{ instrument.description }}</p>
        <anc-sound-cloud-link [soundCloudUsername]="instrument.soundCloudUsername"></anc-sound-cloud-link>
        <anc-gearogs-link [gearogsSlug]="instrument.gearogsSlug"></anc-gearogs-link>
    </li>
</ul>
