@use '@fontsource/roboto/scss/mixins' as roboto;

@include roboto.faces($subsets: latin latin-ext, $weights: 100);

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    background: linear-gradient(135deg, #2d5e63 0%, #151833 100%);
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 10px;
}

a {
    color: #0fe0b1;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}
