label {
    cursor: pointer;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}

input {
    height: 100%;
    left: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 100%;
}

div {
    align-items: center;
    background: linear-gradient(135deg, #2D5E63 0%, #151833 100%);
    border-top: 1px solid #FFF;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

div.is-dragged-over {
    background-color: #999;
}
