<label (dragenter)="onDragEnter()" (dragleave)="onDragLeave()" (dragover)="onDragover($event)" (drop)="onDrop($event)">
    <input
        accept="audio/midi"
        (blur)="onTouched()"
        (change)="onChanged($event)"
        (click)="onClick()"
        (focus)="onFocus($event)"
        type="file"
    />
    <div [ngClass]="{ 'is-dragged-over': isDraggedOver }">
        @switch (state$ | async) {
            @case ('empty') {
                <span>drop a MIDI file here or click to open the file dialog</span>
            }
            @case ('failed') {
                <span>the given file "{{ filename$ | async }}" could not be parsed, please try another one</span>
            }
            @case ('filled') {
                <span>the given file "{{ filename$ | async }}" looks like a valid MIDI file</span>
            }
            @case ('parsing') {
                <span>the given file gets parsed, please wait</span>
            }
        }
    </div>
</label>
